body {
  font-family: "Inter", sans-serif;
  color: #838392;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.8;
  overflow-x: hidden;
}
.mt-btn {
  display: inline-block;
  min-width: 140px;
  background: linear-gradient(180deg, #F7B733 0%, #FC4A1A 100%);
  box-shadow: 0px 0px 60px rgba(249, 128, 38, 0.2);
  color: #fff;
  text-transform: capitalize;
  outline: none;
  padding: 12px 20px;
  cursor: pointer;
  font-size: 16px;
  font-weight: 400;
  text-align: center;
  vertical-align: middle;
  border: none;
  border-radius: 50px;
  transition: 0.3s;
  max-width: max-content;
  line-height: normal;
  position: relative;
  letter-spacing: 1px;
  margin-bottom: 0;
}
.mt-btn:focus {
  outline: none;
}
.mt-btn:hover {
  box-shadow: 0px 0px 30px 0px rgb(57 65 72 / 30%);
  transform: scale(1.06);
  text-decoration: none;
}
.mt-btn:hover,
.mt-btn.mt-btn-reverse {
  /* background: #394148; */
  background-image: linear-gradient(to right, #394148, #394148, #394148, #394148, #394148);
  color: #fff;
}
.mt-btn.mt-btn-reverse:hover {
  background: linear-gradient(180deg, #F7B733 0%, #FC4A1A 100%);
  box-shadow: 0px 0px 60px rgba(249, 128, 38, 0.2);
  color: #fff;
}
img {
  height: auto;
  max-width: 100%;
}
a {
  transition: 0.3s;
}
a:hover {
  text-decoration: none;
  color: #2479F0;
}
.mt-spacer-top {
  padding-top: 100px;
}
.mt-spacer-bottom {
  padding-bottom: 100px;
}
ul {
  padding: 0;
  margin: 0;
}
ul li {
  list-style: none;
}
/* main css start */
.mt-product-title {
  font-size: 30px;
  font-weight: 800;
  margin-bottom: 20px;
  color: #394148;
}
.mt-product-worth {
  color: #AE47FF;
  font-weight: 900;
  font-size: 25px;
  margin-bottom: 20px;
}
.mt-product-content .mt-btn {
  margin-top: 20px;
  margin-right: 10px;
}
.mt-product-img img {
  border-radius: 10px;
}
.mt-bonus-product-wrap ul li {
  display: block;
  margin-bottom: 50px;
  padding-bottom: 50px;
  border-bottom: 1px solid #ccc;
}
.mt-bonus-product-wrap ul li:last-child {
  margin-bottom: 0px;
  padding-bottom: 0px;
  border-bottom: none;
}
.mt-bonus-product-wrap .row {
  align-items: center;
}
.mt-product-has-tag {
  font-weight: 700;
  color: #fff;
  font-size: 20px;
  background: linear-gradient(180deg, #1BEAE4 0%, #0ED8D2 100%), #FFFFFF;
  box-shadow: 0px 0px 60px rgba(5, 140, 134, 0.2);
  max-width: fit-content;
  max-width: -moz-fit-content;
  border-radius: 30px;
  padding: 5px 20px;
  margin-bottom: 6px;
  margin-right: 10px;
}
/* main css end */

/* header start */
.mt-bonus-logo img {
  /* max-height: 130px; */
  max-width: 270px;
}
.mt-bonus-header {
  padding: 50px 0 38px;
  padding: 50px 0 38px;
  /* background: url(../images/header-bg.jpg); */
  background: #140F3C;
  text-align: center;
}
.mt-bonus-header .row,
.mt-bonus-copyright .row {
  align-items: center;
}
.mt-bonus-head-title h3 {
  margin: 25px 0 0px;
  color: #fff;
  font-size: 36px;
}
/* header end */

/* copyright start */
.mt-bonus-copyright {
  padding: 10px 0px;
  background-color: rgb(1 3 5);
}
.mt-bonus-copyright p,
.mt-bonus-copyright ul li a {
  color: #fff;
  font-size: 16px;
  margin: 0;
}
.mt-bonus-copyright ul li a:hover {
  color: #2479F0;
}
.mt-bonus-copyright ul li {
  display: inline-block;
  position: relative;
  padding-right: 20px;
}
.mt-bonus-copyright ul li:after {
  content: "";
  position: absolute;
  right: 8px;
  top: 0;
  bottom: 0;
  height: 10px;
  width: 2px;
  background: #ffffff;
  margin: auto;
}
.mt-bonus-copyright ul li:last-child {
  padding-right: 0;
}
.mt-bonus-copyright ul li:last-child:after {
  display: none;
}
/* copyright end */

/* responsive css start */
@media screen and (max-width: 991px) {
  .order_1 {
    order: 1;
}
  .order_2 {
    order: 2;
}
.order_3 {
  order: 3;
}
.order_4 {
  order: 4;
}
.order_5 {
  order: 5;
}
.order_6 {
  order: 6;
}
.order_7 {
  order: 7;
}
.order_8 {
  order: 8;
}
.order_9 {
  order:9;
}
.order_10 {
  order: 10;
}
.order_11 {
  order: 11;
}
.order_12 {
  order: 12;
}
.order_13 {
  order: 13;
}
.order_14 {
  order: 14;
}
.order_15 {
  order: 15;
}
.order_16 {
  order: 16;
}
.order_17 {
  order: 17;
}
.order_18 {
  order: 18;
}
.order_19 {
  order: 19;
}
.order_20 {
  order: 20;
}
.order_21 {
  order: 21;
}
.order_22 {
  order: 22;
}
.order_23 {
  order: 23;
}
.order_24 {
  order: 24;
}
.order_25 {
  order: 25;
}
.order_26 {
  order: 26;
}
.order_27 {
  order: 27;
}
.order_28 {
  order: 28;
}



  .mt-product-content,
  .mt-product-img {
    padding: 30px 0;
  }
  .mt-bonus-product-wrap ul li {
    margin-bottom: 30px;
    padding-bottom: 30px;
  }
  .mt-spacer-top {
    padding-top: 50px;
  }
  .mt-spacer-bottom {
    padding-bottom: 50px;
  }
  .mt-product-title {
    font-size: 32px;
    font-weight: 800;
    margin-bottom: 20px;
    color: #394148;
  }
  .mt-copyright-menu-list,
  .mt-bonus-copyright p {
    text-align: center;
  }
  .sp_order2 {
    order: 2;
  }
  .sp_order1 {
    order: 1;
  }
}
@media screen and (max-width: 480px) {
  .mt-bonus-head-title h3 {
    font-size: 25px;
}
  p {
    font-size: 16px;
}
.mt-product-img img {
  max-width: 220px;
}
.mt-btn {
  min-width: 110px;
  padding: 12px 15px;
  font-size: 14px;
}
.mt-product-content .mt-btn {
  margin-top: 0px;
  margin-right: 5px;
}
  .mt-product-has-tag {
    /* display: block;
    margin-bottom: 10px; */
  }
  .mt-product-worth {
    font-weight: 700;
    font-size: 20px;
}
  .mt-bonus-head-title h3 {
    font-size: 30px;
  }
  .mt-bonus-header {
    padding: 25px 0 30px;
  }
  .mt-product-title {
    font-size: 24px;
    font-weight: 600;
    line-height: 1.4;
}
}
/* responsive css end */
